<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find GRIP)/config/joint_names.yaml"/>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
   <arg name="use_sim_time" default="true"/>
   <arg name="headless" default="false"/>
   <arg name="gui" default="true"/>
 <arg name="use_gui" default="false" />
 <arg name="load_robot_description" default="true"/>
 
<arg name="debug" default="false" />
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--<arg name="world_name" default="worlds/empty.world"/> -->
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="world_name" value="$(find chess_environment)/worlds/full_world.world"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find gripperone_description)/urdf/gripperone.xacro" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <rosparam param="source_list">[/gripperone/joint_states]</rosparam>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[/gripperone/joint_states]</rosparam>
  </node>
  
  <include file="$(find GRIP)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>
  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <!--<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0" 
    respawn="false" output="screen" /> -->
      <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-param robot_description -urdf -model gripperone"/>
 
   <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find GRIP)/default_warehouse_mongo_db" />
    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    
  <include file="$(find GRIP)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find GRIP)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find GRIP)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>  

  <include file="$(find GRIP)/launch/controller.launch"/>

</launch>
