<robot name="camera1">
  <static>true</static>
  <link name="camera">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia  ixx="0.000001" ixy="0.000001"  ixz="0.000001"  iyy="0.000001"  iyz="0.000001"  izz="0.000001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>
 
  	<gazebo>
    		<static>true</static>
	</gazebo>
  <gazebo reference="camera">
    <material>Gazebo/Blue</material>
    <sensor type="camera" name="camera1">
      			<update_rate>30.0</update_rate>
      			<camera name="camera1">
				<horizontal_fov>1.5</horizontal_fov>
				<!--vertical_fov>90</vertical_fov-->
				<image>
		  			<width>800</width>
		  			<height>800</height>
		  			<format>R8G8B8</format>
				</image>
				<clip>
		  			<near>0.02</near>
		  			<far>300</far>
				</clip>
				<noise>
		  			<type>gaussian</type>
		  			<mean>0.0</mean>
		  			<stddev>0.007</stddev>
				</noise>
      			</camera>
      			<plugin name="camera_controller" filename="libgazebo_ros_camera.so">
				<alwaysOn>true</alwaysOn>
				<updateRate>0.0</updateRate>
				<cameraName>camera1</cameraName>
				<imageTopicName>image_raw</imageTopicName>
				<cameraInfoTopicName>camera_info</cameraInfoTopicName>
				<frameName>camera_link</frameName>
				<hackBaseline>0.07</hackBaseline>
				<distortionK1>0.0</distortionK1>
				<distortionK2>0.0</distortionK2>
				<distortionK3>0.0</distortionK3>
				<distortionT1>0.0</distortionT1>
				<distortionT2>0.0</distortionT2>
      			</plugin>
    		</sensor>
  </gazebo>
</robot>
