<launch>
  <param name="/use_sim_time" value="true" />
  <param name="paused" value="true"/>
  <param name="gui" value="true"/>
  <param name="headless" value="false"/>
  <param name="debug" value="false"/>


  <!-- start world -->
  <node name="gazebo" pkg="gazebo_ros" type="gazebo" 
   args="$(find gazebo_ros)/launch/empty_world.launch"  />


  <include file="$(find chess_environment)/launch/test.launch"/>
</launch>
